.heroContainer {
  width: 100%;
  height: 100vh; /* Full viewport height */
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
  mix-blend-mode: multiply;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .image {
    height: 100%;
    width: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .image {
    width: 100%;
    height: auto;
  }
}
