:root {
  --bg: #ffffff; /* Default light theme background */
  --textColor: #000000; /* Default light theme text color */
  --softBg: #f0f0f0; /* Default light theme soft background */
  --softTextColor: #626262; /* Default light theme soft text color */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--textColor);
  max-width: 100vw;
  overflow-x: hidden;
}

.dark {
  --bg: #121212; /* Dark theme background color */
  --textColor: #e0e0e0; /* Dark theme text color */
  --softBg: #1f273a; /* Dark theme soft background color */
  --softTextColor: #a6a6a6; /* Dark theme soft text color */
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  background-color: var(--softBg);
  color: var(--softTextColor);
  min-height: 100vh;
  background-color: var (--bg);
  color: var(--textColor);
}

.wrapper {
  max-width: 1536 px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: rebeccapurple; */
  padding-left: 80px;
  padding-right: 80px;
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}
@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}
